/* Font */
@import url("./font.css");

/* root */
*{
    margin:0;
    padding:0;
}

/* Jumbotron */
.jumbotron{
    height: 80vh;
    display:grid;
    grid-template-columns:auto;
    justify-content:center;
    align-items:center;
}
.jumbotron .container{
    font-family: "Lora", serif;
    text-align:center;
}
.jumbotron .container h1{
    font-size:5em;
}
.jumbotron .container .orange{
    color:orangered;
}
.jumbotron .container .green{
    color:#598C5D;
}


/* Container Content */
.container-content{
    margin-top:3em;
    padding:2em;
}

/* Pagination */
.container-content nav{
    margin-top:2em;
}

.container-content .card{
    width: 100%;
    height: fit-content;
    padding:0px;
  -webkit-box-shadow: 10px 7px 22px -25px rgba(0, 0, 0, 1);
-moz-box-shadow: 10px 7px 22px -25px rgba(0, 0, 0, 1);
box-shadow: 10px 7px 22px -25px rgba(0, 0, 0, 1);
}

.container-content .card img{
    object-fit: cover;
    height: 300px;
}